[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/rob/Documents/Allan/seven_segment_display/src/spa_control.ino
Type=Link
URL=file:///home/rob/Documents/Allan/seven_segment_display/src/spa_control.ino
Icon=text-x-arduino
